* {
    box-sizing: border-box;
}

body {
    font-family: arial;
	font-size: 80%;
	width: 80%;
	line-height: 1.2em;
	margin: 0 auto;
	background: #eee;
	min-width: 1280px;
	max-width: 1600px;
}

p {
	font-size: 18px;
}

#unosi {
	display: inline-block;
	float: left;
}

#ime_prez {
	width: 340px;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#tel {
	width: 160px;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#email {
	width: 300px;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#poruka {
	width: 300px;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#potvrdi {
	width: 130px;
	height: 30px;
	margin-right: 36px;
}

#ponisti {
	width: 130px;
	height: 30px;
	margin-right: 10px;
}

#povratak {
	width: 130px;
	height: 30px;
	background-color: blue;
	color: red;
}