
a {
	font-size: 30px;
}

#lijevi {
	float: left;
}

.left:hover {
	
	color: grey;
}

#desni {
	float: right;
}

.right:hover {
	color: grey;
}


h1 {
	font-family: 'Courgette', cursive;
	color: #C61A1A;
	font-weight: bold;
	font-size: 40px;
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h5 {
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

.image_container {
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#slika1, #slika2, #slika3 {
	width: 800px;
	height: 600px;
}

.mySlides {
	width: 800px;
	height: 600px;
}

body {
	width: 90%;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
}

h5:hover {
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	font-family: 'Courgette', cursive;
	color: #C61A1A;
	font-weight: bold;
}